APP_NAME=GPMS
CLIENT_URL=https://localhost:3000
CLIENT_HOST=localhost
NODE_ENV=development
PORT=8080
MONGO_URI=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE_AT=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE_AT=
EMAIL_USER=
EMAIL_PASSWORD=
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
MONGODB_URI=your_mongodb_uri
SESSION_SECRET=your_session_secret